
<!-- Edit the file _data/navigation.yml -->

<section class="navigation">
  <div class="nav-container">

    <div class="nav-mobile">
      <a id="nav-toggle" href="#!"><span></span></a>
    </div>
    <nav>
      <ul class="nav-list">
        {% for item in site.data.navigation %}
        
          <li>
            <a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
          {% endfor %}
          </li>
        </ul>
    </nav>
  </div>
</section>

<!-- <section class="navigation">
  <div class="nav-container">
    <div class="brand">
      <a href="#!">🍀 Yo Soy Root</a>
    </div>
    <nav>
  <div class="nav-mobile">
    <a id="nav-toggle" href="#!"><span></span></a>
  </div>
  <ul class="nav-list">
    <li><a href="#!">Home</a></li>
    <li><a href="#!">Shop</a></li>
    <li>
      <a href="#!">Services</a>
      <ul class="nav-dropdown">
        <li><a href="#!">Web Design</a></li>
        <li><a href="#!">Web Development</a></li>
        <li><a href="#!">Graphic Design</a></li>
      </ul>
    </li>
    <li><a href="#!">About Us</a></li>
    <li><a href="#!">Contact</a></li>
  </ul>
</nav>
    </div>
</section> -->